@import './variables.scss';

.toolbar {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  background-color: $primary-color;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-title {
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  font-family: $font-family;
  flex: 1 1 auto;
}