$primary-color: #ff5722;
$secondary-color: #fffaf0;
$dark-text-color: #333333;
$light-text-color: #555555;
$button-hover-color: #e64a19;
$card-border-radius: 12px;
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
$font-family: 'Poppins', Arial, sans-serif;
$font-weight-bold: 600;
$font-weight-medium: 500;
$font-size-large: 1.8rem;
$font-size-medium: 1.2rem;