@use '@angular/material' as mat;

$primary-palette: mat.define-palette((
  50: #ffece5,
  100: #ffcfcc,
  200: #ffafa9,
  300: #ff8e85,
  400: #ff756b,
  500: #ff5722, 
  600: #e64b1f,
  700: #cc401c,
  800: #b33519,
  900: #802711,
  A100: #ffd6cc,
  A200: #ffae9f,
  A400: #ff8671,
  A700: #ff5d43,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: white,
    A700: white,
  ),
));

$accent-palette: mat.define-palette((
  50: #f3e5f5,
  100: #e1bee7,
  200: #ce93d8,
  300: #ba68c8,
  400: #ab47bc,
  500: #9c27b0,
  600: #8e24aa,
  700: #7b1fa2,
  800: #6a1b9a,
  900: #4a148c,
  A100: #ea80fc,
  A200: #e040fb,
  A400: #d500f9,
  A700: #aa00ff,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: white,
    A700: white,
  ),
));

$warn-palette: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
  ),
));

@include mat.core();
@include mat.all-component-themes($custom-theme);
